* {
    margin: 0px;
    padding: 0px;
}

#navigation_module {
    border: 1px solid black;
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: black;
    position: sticky;
    top: 0px;
}

#flex-module {
    border: 1px solid black;
    width: 98%;
    display: flex;
    align-items: center;


}

#left_content {
    color: whitesmoke;
    width: 70%;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#right_content {

    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

.content-item1 {
    border: 1px solid black;
    color: whitesmoke;
    height: 50px;
    width: 150px;
    transition: 0.5s;

}

.content-item1:hover {
    border: 1px solid whitesmoke;
    background-color: gray;
    color: black;
    border-radius: 2px;
    font-size: 20px;

}

a {
    text-decoration: none;
    
}
#flexitem {
    border: 1px solid black;
    height: 80px;

}

.content-item2 {
    height: 50px;
    width: 150px;
    transition: 0.2s;
    background-color: palevioletred;

}

.content-item2:hover {
    font-size: 20px;
    transform: scale(1.1);
    background-color: gray;
    color: black;
}

#home-content {
    border: 1px solid black;
    height: 120vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/07/22/22/56/tiger-2530158_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

#contuct-content {
    border: 1px solid black;
    height: 130vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/27/12/55/tiger-2791980_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}